body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

#header {
    font-size: 100px;
    margin: 100px auto;
    text-align: center;
    color: blueviolet;
}

#calcContainer {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    height: 100%;
    border: 5px solid black;
    margin-bottom: 100px;
    border-radius: 25px;
    padding: 25px;
    background-color:grey;
}

#display {
    text-align: right;
    width: 100%;
    font-size: 100px;
    background-color: #f0f0f0;
    border: 1px solid black;
    box-sizing:border-box;
}

#keys {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 10px solid grey;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.key {
    flex-basis: 25%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    height: 80px;
    width: 50px;
    font-size: 50px;
    border: 10px solid grey;
}